@use '../../assets/styles/media_queries' as mediaQ;

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.4rem;

  @include mediaQ.mobile-landscape-and-down {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-left: 0;
  }

  @include mediaQ.tablet-landscape-and-down {
    padding: 0 2rem;
  }

  @include mediaQ.pc-and-up {
    padding: 0 6rem;
  }

  .title {
    align-items: center;
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    font-weight: bold;

    svg {
      height: 1em;
      width: 1em;
    }
  }
}

.main {
  background-color: #fff;
  min-height: calc(100vh - 190px);

  .total {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem 6rem 0;
  }

  .grid-container {
    padding: 2rem 6rem;
    width: 100%;

    @include mediaQ.tablet-landscape-and-down {
      padding: 2rem;
    }

    .grid {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));

      @include mediaQ.tablet {
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
      }

      @include mediaQ.tablet-landscape {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }

      @include mediaQ.pc-and-up {
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      }
    }
  }
}
