@use '../../../assets/styles/variables' as vars;
@use 'sass:color';

.trigger {
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  color: #333;
  display: inline-flex;
  font-size: 1rem;
  height: 34px;
  justify-content: space-between;
  line-height: 1;
  padding: 0.5rem 1rem;

  &:hover {
    background-color: color.scale(vars.$secondary-color, $lightness: 80%);
  }

  &[data-placeholder] {
    color: #ccc;
  }
}

.icon {
  margin-left: 0.5em;
  margin-top: 0.2em;

  svg {
    height: 1em;
    width: 1em;
  }
}

.content {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  box-shadow: rgb(22 23 24 / 35%) 0 10px 38px -10px,
    0 rgb(22 23 24 / 20%) 10px 20px -15px;
  overflow: hidden;
  z-index: 1;
}

.scroll-btn {
  align-items: center;
  background-color: #fff;
  color: #333;
  cursor: default;
  display: flex;
  justify-content: center;
}

.viewport {
  padding: 0.5rem;
}

.item {
  align-items: center;
  border-radius: 0.3rem;
  color: #333;
  display: flex;
  font-size: 13;
  line-height: 1;
  padding: 0.5rem 2rem 0.5rem 1.5rem;
  position: relative;
  user-select: none;

  &[data-state='checked'] {
    background-color: vars.$primary-color;
    color: #fff;
  }

  &[data-highlighted][data-state='unchecked'] {
    color: vars.$primary-color;
  }
}
