@use './variables' as vars;
@use './reset';

@use 'sass:color';

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: vars.$primary-color;

  &:hover {
    color: color.scale(
      vars.$primary-color,
      $blackness: vars.$darken-value
    );
  }
}
